.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    max-width: 980px;
    max-height: 590px;
    overflow-y: auto;
    background: white;
    // padding: 50px;
    padding: 50px 50px 50px 50px;
    border-radius: 5px;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    width: 5px;
    border: none;
}

// ！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
/* 基础样式 */
.shopping-cart {
    display: flex;
    flex-direction: column;
}

.product-preview {
    margin: 10px;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
}

.product-image img {
    width: 100%;
    max-width: 500px;
    /* 根据需要调整 */
    display: block;
    margin: 0 auto;
}

.thumbnail-bar img {
    width: 52px;
    margin-right: 10px;
    margin-bottom: 2px;
    cursor: pointer;
}

.selected-product {
    display: flex;
    // justify-content: space-between;
    align-items: flex-start;
    white-space: nowrap;

    .lunbofuimg {
        width: 55%;
        position: relative;
        // border: 1px solid red;

        .lunbobutzi1 {
            position: absolute;
            left: 0;
            top: 30%;
            display: none;
        }

        .lunbobutzi2 {
            position: absolute;
            right: 0;
            top: 30%;
            display: none;
        }

        &:hover .lunbobutzi1 {
            display: block;
        }

        &:hover .lunbobutzi2 {
            display: block;
        }

    }


}


// tankuangce
.drawercontent-bar {
    display: flex;
    white-space: nowrap;
}

.drawercontent img {
    display: flex;
    border: 1px solid pink;
    width: 100px;
}

.drawerbutton {
    position: fixed;
    bottom: 50px;
    background: black;
    color: #ddd;
    // width: 30%;
    width: 480px;
    // width: 80%;
    height: 50px;
    border-radius: 0;

    &:hover {
        background: black;
        color: #ddd;
    }

}

// -------------

.product-details {
    padding: 0 20px;
    width: 40%;

    .shoptitle {
        overflow: hidden;
        width: 100%;
        white-space: normal;
        color: #222222;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .colorchoose {
        display: flex;
        justify-content: space-between;
        color: #222222;
        font-size: 16px;
        margin-bottom: 20px;
        font-weight: 600;
        // border: 1px solid pink;
    }

    .colorchoosebt {
        display: flex;
        margin-bottom: 20px;

        .colorchoosebtzi {
            width: 28px;
            height: 28px;
            background: rgb(246, 237, 238);
            border-radius: 50px;
            padding: 10px;
            margin-right: 15px;

            &:hover {
                cursor: pointer;
                border: 1px solid black;
            }
        }

        .colorchoosebtzi1 {
            width: 28px;
            height: 28px;
            background: rgb(71, 138, 171);
            border-radius: 50px;
            padding: 10px;
            margin-right: 15px;

            &:hover {
                cursor: pointer;
                border: 1px solid black;
            }
        }

        .colorchoosebtzi2 {
            width: 28px;
            height: 28px;
            background: rgb(237, 122, 142);
            border-radius: 50px;
            padding: 10px;
            margin-right: 15px;

            &:hover {
                cursor: pointer;
                border: 1px solid black;
            }
        }
    }


    .sizechose {
        // display: flex;
        margin-bottom: 20px;
        white-space: normal;

        .sizechosezi {
            width: 170px;
            height: 35px;
            display: inline-block;
            border: 1px solid #e5e5e5;
            text-align: center;
            line-height: 35px;
            border-radius: 50px;
            margin-right: 10px;
            margin-bottom: 10px;
            // white-space: nowarp;

            &:hover {
                border: 1px solid #222222;
            }
        }
    }

    table {
        width: 100%;
        /* 表格宽度为100% */
        border-collapse: collapse;
        /* 单元格边框合并 */
    }

    th {
        background-color: #f6f6f6;
        color: #222222;
        font-size: 12px;
        font-weight: 600;
        border: 1px solid #e5e5e5;
        padding: 16px 46px;
        text-align: left;
    }


    td {
        border: 1px solid #e5e5e5;
        padding: 16px 46px;
        text-align: left;
        color: #222222;
        font-size: 12px;
    }

    // 模态框
    .modeltop {
        width: 100%;
        background: pink;

        div {
            position: fixed;
            width: 620px;
            background: white;
            font-size: 20px;
            font-weight: 600;
            color: #222;
            text-align: center;
            margin-bottom: 40px;
            padding: 20px 0;
            z-index: 99;
        }


    }

    .modelbuzhou {
        display: flex;
        margin-bottom: 30px;
        margin-top: 100px;

        :where(.css-dev-only-do-not-override-d2lrxs).ant-steps .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot {
            background: #000000;
        }

        :where(.css-dev-only-do-not-override-d2lrxs).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
            background: #000000;
        }

        :where(.css-dev-only-do-not-override-d2lrxs).ant-steps .ant-steps-item-process .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot {
            background: #000000;
        }

    }

    .modeljieshuo {
        white-space: normal;
        color: #999999;
        font-size: 12px;
        margin-top: 10px;
    }

    .modelpeizhi {

        .modelpeizhitit {
            color: #222;
            margin: 15px 0;
            padding-top: 15px;
            margin-bottom: 25px;
            border-top: 1px solid #d8d8d8;
        }

        .modelpeizhicot {
            font-size: 12px;
            color: #222;
            margin-bottom: 18px;

            .modelpeizhinub {
                font-size: 14px;
                color: #222;
                font-weight: 600;
                margin-bottom: 20px;

                span {
                    display: inline-block;
                    height: 16px;
                    width: 16px;
                    line-height: 16px;
                    text-align: center;
                    background: #000000;
                    color: white;
                    border-radius: 50px;
                    margin-right: 5px;
                }

            }
        }

    }

    // -----

    :where(.css-dev-only-do-not-override-d2lrxs).ant-tree .ant-tree-checkbox .ant-tree-checkbox-inner {
        display: none;
    }

    .shangjaistore {
        display: flex;
    }

    .shangjaistore1 {
        display: flex;
        margin-top: 10px;
    }


}

.thumbnail-bar img {
    border: 1px solid #000000;
    /* 初始无边框 */
    transition: border 0.3s;
    /* 平滑过渡效果 */
}