/* 基础样式 */
.shopping-cart {
    display: flex;
    flex-direction: column;
}

.product-preview {
    margin: 10px;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
}

.product-image img {
    width: 100%;
    max-width: 500px;
    /* 根据需要调整 */
    display: block;
    margin: 0 auto;
}

.thumbnail-bar {
    // display: flex;
    // justify-content: center;
    // margin-top: 10px;
}

.thumbnail-bar img {
    width: 52px;
    margin-right: 10px;
    margin-bottom: 2px;
    cursor: pointer;
}

.selected-product {
    display: flex;
    // justify-content: space-between;
    align-items: flex-start;
    white-space: nowrap;

    .lunbofuimg {
        width: 55%;
        position: relative;
        // border: 1px solid red;

        .lunbobutzi1 {
            position: absolute;
            left: 0;
            top: 30%;
            display: none;
        }

        .lunbobutzi2 {
            position: absolute;
            right: 0;
            top: 30%;
            display: none;
        }

        &:hover .lunbobutzi1 {
            display: block;
        }

        &:hover .lunbobutzi2 {
            display: block;
        }


        .pinglunfu {
            width: 115%;
            // height: 500px;
            margin-left: -80px;
            // border: 1px solid pink;

            .pinglunfutit {
                font-size: 24px;
                color: #222222;
                font-weight: 600;
                margin-top: 40px;
            }

            .pinglunfenshu {
                background-color: #f7f8fa;
                padding: 20px;

                :where(.css-dev-only-do-not-override-d2lrxs).ant-slider .ant-slider-track {
                    background-color: #222222;
                }

                :where(.css-dev-only-do-not-override-d2lrxs).ant-slider .ant-slider-handle::after {
                    display: none;
                }


                .pinglunfenshut {
                    font-size: 36px;
                    color: #000000;
                    font-weight: 600;
                }
            }

            .ant-tabs-nav {
                padding: 0;
            }

            .pinglunsifi {
                // display: flex;
                white-space: normal;
                padding-bottom: 20px;
                border-bottom: 1px solid #e5e5e5;
                margin-top: 20px;
            }

            .pinglunsifitit {
                white-space: normal;
                margin-top: 20px;

                span {
                    font-size: 12px;
                    color: #222;
                    padding: 3px 15px;
                    background-color: #fff8eb;
                    margin-right: 10px;
                }
            }

            .pinglunzhengwen {
                margin-top: 20px;
                margin-bottom: 50px;
                border-bottom: 1px dashed #e5e5e5;
                padding-bottom: 10px;

                .pinglunzhengwen1 {
                    color: #767676;
                    font-size: 12px;
                    margin-bottom: 6px;

                    span {
                        color: #222222;
                        font-size: 13px;
                        font-weight: 700;
                        margin-right: 5px;
                    }
                }

                .pinglunzhengwen3 {
                    font-size: 13px;
                    color: #999999;
                    margin-top: 6px;
                    white-space: normal;

                }

                .pinglunzhengwen4 {
                    display: flex;
                    color: #222;
                    margin-top: 20px;
                    white-space: normal;
                }
            }


        }
    }


}

.product-details {
    // flex: 1;
    padding: 0 20px;
    width: 40%;
    // display: flex;

    // border: 1px solid red;


    .shoptitle {
        overflow: hidden;
        width: 100%;
        white-space: normal;
        color: #222222;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .sizechose {
        display: flex;
        margin-bottom: 20px;

        .sizechosezi {
            width: 70px;
            height: 35px;
            border: 1px solid #e5e5e5;
            text-align: center;
            line-height: 35px;
            border-radius: 50px;
            margin-right: 10px;

            &:hover {
                border: 1px solid #222222;
            }
        }
    }

    table {
        width: 100%;
        /* 表格宽度为100% */
        border-collapse: collapse;
        /* 单元格边框合并 */
    }

    th {
        background-color: #f6f6f6;
        color: #222222;
        font-size: 12px;
        font-weight: 600;
        border: 1px solid #e5e5e5;
        padding: 16px 46px;
        text-align: left;
    }


    td {
        border: 1px solid #e5e5e5;
        padding: 16px 46px;
        text-align: left;
        color: #222222;
        font-size: 12px;
    }

    // 模态框
    .modeltop {
        width: 100%;
        background: pink;

        div {
            position: fixed;
            width: 620px;
            background: white;
            font-size: 20px;
            font-weight: 600;
            color: #222;
            text-align: center;
            margin-bottom: 40px;
            padding: 20px 0;
            z-index: 99;
        }


    }

    .modelbuzhou {
        display: flex;
        margin-bottom: 30px;
        margin-top: 100px;

        :where(.css-dev-only-do-not-override-d2lrxs).ant-steps .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot {
            background: #000000;
        }

        :where(.css-dev-only-do-not-override-d2lrxs).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
            background: #000000;
        }

        :where(.css-dev-only-do-not-override-d2lrxs).ant-steps .ant-steps-item-process .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot {
            background: #000000;
        }

    }

    .modeljieshuo {
        white-space: normal;
        color: #999999;
        font-size: 12px;
        margin-top: 10px;
    }

    .modelpeizhi {

        .modelpeizhitit {
            color: #222;
            margin: 15px 0;
            padding-top: 15px;
            margin-bottom: 25px;
            border-top: 1px solid #d8d8d8;
        }

        .modelpeizhicot {
            font-size: 12px;
            color: #222;
            margin-bottom: 18px;

            .modelpeizhinub {
                font-size: 14px;
                color: #222;
                font-weight: 600;
                margin-bottom: 20px;

                span {
                    display: inline-block;
                    height: 16px;
                    width: 16px;
                    line-height: 16px;
                    text-align: center;
                    background: #000000;
                    color: white;
                    border-radius: 50px;
                    margin-right: 5px;
                }

            }
        }

    }

    // -----

    .zhengce {
        background-color: #f7f8fa;
        margin-top: 50px;
        font-size: 12px;

        .zhengce1 {
            display: flex;
        }

        .zhengce2 {
            display: flex;
        }

        .zhengce3 {
            display: flex;
        }

    }

    :where(.css-dev-only-do-not-override-d2lrxs).ant-tree .ant-tree-checkbox .ant-tree-checkbox-inner {
        display: none;
    }

    .shangjaistore {
        display: flex;
    }

    .shangjaistore1 {
        display: flex;
        margin-top: 10px;
    }


}



.size-info {
    /* 尺码信息样式 */
}

/* 按钮样式 */
// button {
//     margin-top: 10px;
//     padding: 10px 20px;
//     cursor: pointer;
// }



.thumbnail-bar img {
    border: 1px solid #000000;
    /* 初始无边框 */
    transition: border 0.3s;
    /* 平滑过渡效果 */
}