.logoimg {
    width: 100%;
    cursor: pointer;
    /* 显示小手图标 */
    // height: 45px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 92%;

    .logoimgbot {
        width: 145px;
    }

    .ant-input-wrapper {
        border-radius: 0;
    }

    .ant-btn-primary {
        background-color: black;
        height: 38px;
    }

    .ant-input-group-addon {
        border-radius: 0;
    }

    // input边框
    .ant-input-outlined {
        border-color: #000000;
        border-radius: 0;
        height: 38px;
    }

    .ant-input-outlined:focus {
        border-color: #000000;
    }

    .topend {
        display: flex;

        .topendimg {
            width: 24px;
            margin: 0 8px;
        }

        .topendshop {
            position: relative;
            cursor: pointer;

            &:hover .topendshopxia {
                display: block;
                z-index: 999;
                /* 当鼠标悬停在.topendshop时显示.topendshopxia */
            }
        }

        .topendshopxia {
            // display: flex;
            text-align: center;
            display: none;
            position: absolute;
            left: -200px;
            /* 根据需要调整 */
            top: 25px;
            background-color: rgb(255, 255, 255);
            width: 400px;
            // height: 200px;
            z-index: 999;
            padding: 20px 20px;
            font-size: 12px;
            box-shadow: 0 2px 0px 0 rgb(0, 0, 0, 0.2);

            .topendimgs {
                width: 40px;
            }
        }

        .topenderji {
            position: relative;
            cursor: pointer;

            &:hover .topenderjixia {
                display: block;
                z-index: 999;
                /* 当鼠标悬停在.topendshop时显示.topendshopxia */
            }
        }

        .topenderjixia {
            // display: flex;
            display: none;
            position: absolute;
            left: -120px;
            /* 根据需要调整 */
            top: 25px;
            background-color: rgb(252, 252, 252);
            width: 200px;
            height: 80px;
            z-index: 999;
            box-shadow: 0 2px 0px 0 rgb(0, 0, 0, 0.2);
        }

        .topenddiqiu {
            position: relative;
            cursor: pointer;

            &:hover .topenddiqiuxia {
                display: block;
                z-index: 999;
                /* 当鼠标悬停在.topendshop时显示.topendshopxia */
            }
        }

        .topenddiqiuxia {
            // display: flex;
            display: none;
            position: absolute;
            left: -200px;
            /* 根据需要调整 */
            top: 25px;
            background-color: rgb(250, 250, 250);
            width: 240px;
            height: 220px;
            z-index: 999;
            box-shadow: 0 2px 0px 0 rgb(0, 0, 0, 0.2);
        }






    }


}

.center {
    width: 90%;
    height: 600px;
    margin: 0 auto;
    background-color: aqua;
}